.navbar {
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 10px;
    
    top: 0;
    height: 95vh;

    /* UI/White */

    background: #FFFFFF;
    border-radius: 8px;

    &-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 32px;

        width: 56px;
        height: 268.71px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;

            width: 40px;
            height: 40px;

            /* UI/White */

            background: #FFFFFF;
            border-radius: 4px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        :nth-child(3) {
            background: #000;
        }
    }

    &-bottom {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        // padding: 8px;
        gap: 10px;

        width: 56px;
        height: 56px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;
            gap: 8px;

            width: 40px;
            height: 40px;

            /* UI/Danger */

            background: #E5252C;
            border-radius: 10px;

            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;

            img {
                width: 24px;
                height: 24px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
    }
}