.bag {
    padding: 48px;

    h1 {
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: #1A1F16;
        margin: 0;
        padding: 8px 8px 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}